<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">List Menu Access</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="form-group col-md-12">
        <button type="button" class="btn btn-primary pull-right" (click)="openModalAdd(templateAdd)">Add New</button>
      </div>
    </div>
    <ng-template #templateAdd>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add menuAccess</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="menuAccess-form" #menuAccessForm="ngForm" (ngSubmit)="onSubmit(menuAccessForm)">
          <!-- <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="_categoryService.selectedCategory._id"> -->
          <div class="row">
            <div class="form-group col-md-12">
              <label for="mmenuAccessId">Role Code</label>
              <input class="form-control" name="mmenuAccessId" #mmenuAccessId="ngModel" [(ngModel)]="_menuAccessService.selectedMenuAccessList.mRoleId">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="mMenuId">Role Name</label>
              <input class="form-control" name="mMenuId" #mMenuId="ngModel" [(ngModel)]="_menuAccessService.selectedMenuAccessList.mMenuId">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <button type="submit" class="btn btn-lg btn-block btn-info">Submit</button>
            </div>
            <div *ngIf="isNew" class="form-group col-md-4">
              <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(menuAccessForm)">Reset</button>
            </div>
            <div class="form-group col-md-4">
              <button type="button" class="btn btn-lg btn-block btn-warning" (click)="this.modalRef.hide()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </ng-template>

    <div class="row">
      <div class="form-group col-md-2">
        <select class="form-control">
          <option>- Select Role Code -</option>
          <option>xxxxx</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <select class="form-control">
          <option>- Select Role Name -</option>
          <option>xxxxx</option>
        </select>
      </div>
      <div class="form-group col-md-3">
       <input type="text"
           placeholder="Datepicker"
           class="form-control"
           bsDatepicker
           placement="bottom"
        >
       </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-2">
        <button type="button" class="btn btn-warning btn-block">Search</button>
      </div>
    </div>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="text-center">No.</th>
          <th class="text-center">Role Code</th>
          <th class="text-center">Role Name</th>
          <th class="text-center">Created Date</th>
          <th class="text-center">Created By</th>
          <th class="text-center">Uploaded By</th>
          <th class="text-center">Uploaded Date</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let menuAccess of _menuAccessService.selectedMenuAccessList; let i = index">
          <td class="text-center">{{i+1}}</td>
          <td>{{menuAccess.mRoleId}}</td>
          <td>{{menuAccess.mMenuId}}</td>
          <td>{{menuAccess.createdDate}}</td>
          <td>{{menuAccess.createdBy}}</td>
          <td>{{menuAccess.updatedDate}}</td>
          <td>{{menuAccess.updatedBy}}</td>
          
          <!-- VIEW ICON -->
          <td class="text-center">
            <button type="button" class="btn btn-default btn-sm" (click)="onView(templateView, menuAccess._id)">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              <ng-template #templateView>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">View Menu Access</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="menuAccess-form" #menuAccessForm="ngForm">
                    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="_menuAccessService.selectedmenuAccess._id">
                    <div class="row">
                      <div class="form-group col-md-12">
                        <label for="mRoleId">Role Code</label>
                        <input class="form-control" readonly name="code" #code="ngModel" [(ngModel)]="_menuAccessService.selectedmenuAccess.code">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12">
                        <label for="name">Name</label>
                        <input class="form-control" readonly name="name" #name="ngModel" [(ngModel)]="_menuAccessService.selectedmenuAccess.name">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12">
                        <label for="description">Description</label>
                        <input class="form-control" readonly name="description" #description="ngModel" [(ngModel)]="_menuAccessService.selectedmenuAccess.description">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12">
                        <label for="createdDate">Created Date</label>
                        <input class="form-control" readonly name="createdDate" #createdDate="ngModel" [(ngModel)]="_menuAccessService.selectedmenuAccess.createdDate">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12">
                        <label for="createdBy">Created By</label>
                        <input class="form-control" readonly name="createdBy" #createdBy="ngModel" [(ngModel)]="_menuAccessService.selectedmenuAccess.createdBy">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12">
                        <label for="updatedDate">Updated Date</label>
                        <input class="form-control" readonly name="updatedDate" #updatedDate="ngModel" [(ngModel)]="_menuAccessService.selectedmenuAccess.updatedDate">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12">
                        <label for="updatedBy">Updated By</label>
                        <input class="form-control" readonly name="updatedBy" #updatedBy="ngModel" [(ngModel)]="_menuAccessService.selectedmenuAccess.updatedBy">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12">
                        <button type="button" class="btn btn-lg btn-block btn-warning" (click)="this.modalRef.hide()">Close</button>
                      </div>
                    </div>
                  </form>
                </div>
              </ng-template>
            </button>
            <!-- END VIEW ICON -->
            <!-- EDIT ICON -->
            <button type="button" class="btn btn-default btn-sm" (click)="onEdit(templateEdit, menuAccess._id)">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              <ng-template #templateEdit>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Edit menuAccess</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="menuAccess-form" #menuAccessForm="ngForm" (ngSubmit)="onSubmit(menuAccessForm)">
                    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="_menuAccessService.selectedmenuAccess._id">
                    <div class="row">
                      <div class="form-group col-md-12">
                        <label for="code">Code</label>
                        <input class="form-control" name="code" #code="ngModel" [(ngModel)]="_menuAccessService.selectedmenuAccess.code">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12">
                        <label for="name">Name</label>
                        <input class="form-control" name="name" #name="ngModel" [(ngModel)]="_menuAccessService.selectedmenuAccess.name">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12">
                        <label for="description">Description</label>
                        <input class="form-control" name="description" #description="ngModel" [(ngModel)]="_menuAccessService.selectedmenuAccess.description">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <button type="submit" class="btn btn-lg btn-block btn-info">Update</button>
                      </div>
                      <div class="form-group col-md-6">
                        <button type="button" class="btn btn-lg btn-block btn-warning" (click)="this.modalRef.hide()">Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>
              </ng-template>
            </button>
            <!-- END EDIT ICON -->
            <!-- DELETE ICON -->
            <button type="button" class="btn btn-default btn-sm" (click)="openModalDelete(templateDelete)">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              <ng-template #templateDelete>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Delete menuAccess</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h4 class="text-center">Are you sure to delete this?</h4>
                  <div class="row">
                    <div class="form-group col-md-6">
                      <button type="submit" class="btn btn-block btn-info" (click)="onDelete(menuAccess._id)">Delete</button>
                    </div>
                    <div class="form-group col-md-6">
                      <button type="button" class="btn btn-block btn-warning" (click)="this.modalRef.hide()">Cancel</button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </button>
            <!-- END DELETE -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>