<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">List Menu Access</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="form-group col-md-12">
        <button type="button" class="btn btn-primary pull-right" (click)="openModal(templateAdd)">Add New</button>
      </div>
    </div>
    <!-- MOdal -->
    <ng-template #templateAdd>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add Menu Access</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="menuAccess-form" #menuAccessForm="ngForm" (ngSubmit)="onSubmit(menuAccessForm)">
          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="_menuAccessService.selectedMenuAccessList._id">
          <!-- Role Code -->
          <div class="row">
            <div class="form-group col-md-3">
              <h4 for="role">*Role Code</h4>
            </div>
            <div class="form-group col-md-9">
              <select name="role" #role="ngModel" [(ngModel)]="_menuAccessService.selectedMenuAccessList.role" class="form-control">
                <option *ngFor="let option of _roleService.roleList" value="{{option.code}}">{{option.code}}</option>
              </select>
            </div>
          </div>
          <!-- end Role Code -->

          <!-- Menu Access / Role Name -->
          <div class="row">
            <div class="form-group col-md-3">
              <h4 for="menu">*Role Name</h4>
            </div>
            <div class="form-group text-center col-md-9">
              <!-- checkbox -->
              <div class="checkbox" name="menu" id="menu" #menu="ngModel" [(ngModel)]="_menuAccessService.selectedMenuAccessList.menu">
                <h4>
                  <label *ngFor="let option of _menuService.menuList">
                    <input type="checkbox" value="{{option.name}}">
                    <span class="cr">
                      <i class="cr-icon glyphicon glyphicon-ok"></i>
                    </span>
                    {{option.name}}
                  </label>
                </h4>
              </div>
              <!-- end checkbox -->

            </div>
          </div>
          <!-- end Menu Access / Role Code -->
          <!-- button -->
          <div class="row">
            <div class="form-group col-md-4">
              <button type="submit" class="btn btn-lg btn-block btn-info">Submit</button>
            </div>
            <div *ngIf="isNew" class="form-group col-md-4">
              <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(menuAccessForm)">Reset</button>
            </div>
            <div class="form-group col-md-4">
              <button type="button" class="btn btn-lg btn-block btn-warning" (click)="this.modalRef.hide()">Cancel</button>
            </div>
          </div>
          <!-- end Buuton -->
        </form>
      </div>
    </ng-template>

    <div class="row">
      <div class="form-group col-md-2">
        <!-- <select name="role" #role="ngModel" [(ngModel)]="_menuAccessService.selectedMenuAccessList.role" class="form-control"> -->
        <select name="role" class="form-control">
          <option disabled>-- Role Code --</option>
          <option *ngFor="let option of _roleService.roleList" value="{{option.code}}">{{option.code}}</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <select name="role" class="form-control">
          <option disabled>-- Role Name --</option>
          <option *ngFor="let option of _menuService.menuList" value="{{option.name}}">{{option.name}}</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker placement="bottom">
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" placeholder="Type Here">
      </div>
      <div class="form-group col-md-2">
        <button type="button" class="btn btn-warning btn-block">Search</button>
      </div>
    </div>
    <!-- table -->
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="text-center">No.</th>
          <th class="text-center">Role Code</th>
          <th class="text-center">Role Name</th>
          <th class="text-center">Created Date</th>
          <th class="text-center">Created By</th>
          <th class="text-center">Uploaded By</th>
          <th class="text-center">Uploaded Date</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let menuAccess of _menuAccessService.selectedMenuAccessList; let i = index">
          <td class="text-center">{{i+1}}</td>
          <td>{{menuAccess.role}}</td>
          <td>{{menuAccess.menu}}</td>
          <td>{{menuAccess.createdDate | date : "medium"}}</td>
          <td>{{menuAccess.createdBy}}</td>
          <td>{{menuAccess.updatedDate | date : "medium"}}</td>
          <td>{{menuAccess.updatedBy}}</td>

          <!-- VIEW ICON -->
          <td class="text-center">
            <span class="btn btn-primary" (click)="openModal(templateView, onView, menuAccess._id)">
              <i class="fas fa-street-view"></i>
            </span>
            <!-- Template View -->
            <ng-template #templateView>
              <div class="modal-header">
                <h4 class="modal-title pull-left">View Menu Access</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="menuAccess-form" #menuAccessForm="ngForm" (ngSubmit)="onSubmit(menuAccessForm)">
                  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="_menuAccessService.selectedMenuAccessList._id">
                  <!-- Role Code -->
                  <div class="row">
                    <div class="form-group col-md-3">
                      <h4 for="role">*Role Code</h4>
                    </div>
                    <div class="form-group col-md-9">
                      <select name="role" #role="ngModel" [(ngModel)]="_menuAccessService.selectedMenuAccessList.role" class="form-control" disabled>
                        <option *ngFor="let option of _roleService.roleList" value="{{option.code}}">{{option.code}}</option>
                      </select>
                    </div>
                  </div>
                  <!-- end Role Code -->

                  <!-- Menu Access / Role Name -->
                  <div class="row">
                    <div class="form-group col-md-3">
                      <h4 for="menu">*Role Name</h4>
                    </div>
                    <div class="form-group col-md-9">
                      <!-- checkbox -->
                      <div class="checkbox" name="menu" id="menu" #menu="ngModel" [(ngModel)]="_menuAccessService.selectedMenuAccessList.menu">
                        <h4>
                          <label *ngFor="let option of _menuService.menuList">
                            <input type="checkbox" value="{{option.name}}">
                            <span class="cr">
                              <i class="cr-icon glyphicon glyphicon-ok"></i>
                            </span>
                            {{option.name}}
                          </label>
                        </h4>
                      </div>
                      <!-- end checkbox -->
                    </div>
                  </div>
                  <!-- end Menu Access / Role Code -->
                  <!-- button -->
                  <div class="row">
                    <div class="form-group col-md-4 col-md-offset-8">
                      <button type="button" class="btn btn-lg btn-block btn-warning" (click)="this.modalRef.hide()">Close</button>
                    </div>
                  </div>
                  <!-- end Buuton -->
                </form>
              </div>
            </ng-template>
            <!-- End Template View -->


            <span class="btn btn-info" value="Edit" (click)="openModal(templateEdit, onEdit, menuAccess._id)">
              <i class="fas fa-edit"></i>
            </span>

            <!-- Template Edit -->
            <ng-template #templateEdit>
              <div class="modal-header">
                <h4 class="modal-title pull-left">Edit Menu Access</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="menuAccess-form" #menuAccessForm="ngForm" (ngSubmit)="onSubmit(menuAccessForm)">
                  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="_menuAccessService.selectedMenuAccessList._id">
                  <!-- Role Code -->
                  <div class="row">
                    <div class="form-group col-md-3">
                      <h4 for="role">*Role Code</h4>
                    </div>
                    <div class="form-group col-md-9">
                      <!-- <select name="role" #role="ngModel" [(ngModel)]="_menuAccessService.selectedMenuAccessList.role" class="form-control">
                        <option *ngFor="let option of _roleService.roleList" value="{{option.code}}">{{option.code}}</option>
                      </select> -->
                      <input class="form-control" name="role" #role="ngModel" [(ngModel)]="_menuAccessService.selectedMenuAccessList.role" disabled>
                    </div>
                  </div>
                  <!-- end Role Code -->

                  <!-- Menu Access / Role Name -->
                  <div class="row">
                    <div class="form-group col-md-3">
                      <h4 for="menu">*Role Name</h4>
                    </div>
                    <div class="form-group col-md-9">
                      <!-- checkbox -->
                      <div class="checkbox" name="menu" id="menu" #menu="ngModel" [(ngModel)]="_menuAccessService.selectedMenuAccessList.menu">
                        <h4>
                          <label *ngFor="let option of _menuService.menuList">
                            <input type="checkbox" value="{{option.name}}">
                            <span class="cr">
                              <i class="cr-icon glyphicon glyphicon-ok"></i>
                            </span>
                            {{option.name}}
                          </label>
                        </h4>
                      </div>
                      <!-- end checkbox -->
                    </div>
                  </div>
                  <!-- end Menu Access / Role Code -->
                  <!-- button -->
                  <div class="row">
                    <div class="form-group col-md-4">
                      <button type="submit" class="btn btn-lg btn-block btn-info">Submit</button>
                    </div>
                    <div *ngIf="isNew" class="form-group col-md-4">
                      <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(menuAccessForm)">Reset</button>
                    </div>
                    <div class="form-group col-md-4">
                      <button type="button" class="btn btn-lg btn-block btn-warning" (click)="this.modalRef.hide()">Cancel</button>
                    </div>
                  </div>
                  <!-- end Buuton -->
                </form>
              </div>
            </ng-template>
            <!-- End Template Edit -->


            <span class="btn btn-danger" value="Delete" (click)="onDelete(onDelete, menuAccess._id)">
              <i class="far fa-trash-alt"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- end table -->
  </div>
</div>