<div class="container theme-showcase" role="main">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">
          <img src="favicon.ico" class="logo">
        </a>
        <span class="navbar-brand">Mini Project</span>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/employees">Employees</a>
        </li>
        <li>
          <a routerLink="/user">User</a>
        </li>
        <li>
          <a routerLink="/menu">Menu</a>
        </li>
        <li>
          <a routerLink="/menuaccess">Menu Access</a>
        </li>
        <li>
          <a routerLink="/product">Product</a>
        </li>
        <li>
          <a routerLink="/role">Role</a>
        </li>
        <li>
          <a routerLink="/company">Company</a>
        </li>
      </ul>
    </div>
  </nav>
   <router-outlet></router-outlet> 

</div>